body, html {
  margin: 0;
  padding: 0;
}

.form {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(59, 59, 59, 0.6);
  z-index: 10;
}

.sign-in_form, .sign-up_form {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 60%;
  background-color: white;
  padding: 40px;
  width: 90%;
  box-shadow: 5px 5px 5px #484e5a;
}
.sign-in_form h1, .sign-up_form h1 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #408be0;
  margin-bottom: 35px;
}
.sign-in_form label, .sign-in_form input, .sign-up_form label, .sign-up_form input {
  font-family: "Open Sans", sans-serif;
}
.sign-in_form label, .sign-up_form label {
  position: relative;
  top: -25px;
  margin-top: 5px;
  color: #757575;
  transition: 0.5s;
  z-index: -1;
}
.sign-in_form div, .sign-up_form div {
  width: 100%;
}
.sign-in_form input[type=text], .sign-in_form input[type=password], .sign-up_form input[type=text], .sign-up_form input[type=password] {
  width: 100%;
  font-size: 1rem;
  padding: 5px;
  padding-bottom: 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #408be0;
  outline: 0;
  z-index: 6;
}
.sign-in_form input[type=submit], .sign-up_form input[type=submit] {
  background-color: #fd5e5e;
  border-radius: 13px;
  font-size: 1rem;
  border: none;
  outline: none;
  padding: 10px;
  width: 50%;
  color: white;
  transition: 0.5s;
}
.sign-in_form input[type=submit]:hover, .sign-up_form input[type=submit]:hover {
  transform: scale(1.2);
}
.sign-in_form input:focus + label, .sign-in_form input:not(:placeholder-shown) + label, .sign-up_form input:focus + label, .sign-up_form input:not(:placeholder-shown) + label {
  top: -45px;
}
.sign-in_form .exit, .sign-up_form .exit {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  font-size: 2rem;
  background-color: transparent;
  color: red;
}

@media only screen and (min-width: 600px) {
  .sign-in_form, .sign-up_form {
    width: 400px;
  }

  input[type=submit] {
    width: 30%;
  }
}