nav {
  padding: 0 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 107, 230, 0.5);
  height: 80px;
  z-index: 9;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding-top: 20px;
}
.container a {
  text-decoration: none;
  color: white;
}
.container .logo {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}
.container ul {
  background-color: #006be6;
  position: absolute;
  padding-top: 40px;
  top: 80px;
  width: 100%;
  left: -1000px;
  height: 100vh;
  list-style-type: none;
  transition: 1s left;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .active {
  left: 0;
}
.container li {
  font-family: "Open Sans", sans-serif;
  margin: 20px;
  padding: 20px;
  color: white;
  cursor: pointer;
  z-index: 7;
}
.container i {
  color: white;
  font-size: 2rem;
}
.container .nav_btn {
  z-index: 10;
  display: block;
}
.container .signinBtn, .container .profileBtn {
  background-color: #fd5e5e;
  border-radius: 13px;
  width: 50%;
  text-align: center;
}
.container .profileBtn {
  display: flex;
  justify-content: center;
}
.container span {
  margin-left: auto;
}
.container .dropdown {
  display: none;
}
.container .dropdown ul {
  background-color: white;
  border-radius: 10px;
  position: static;
  height: 30%;
}
.container .dropdown li {
  color: black;
  font-size: 0.7rem;
}
.container .profileBtn:hover .dropdown, .container .dropdown:hover {
  display: block;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  padding-top: 30px;
  width: 50%;
}
.container .down {
  font-size: 0.9em;
  margin-left: auto;
}

@media only screen and (min-width: 850px) {
  .container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    padding-top: 20px;
  }
  .container a {
    text-decoration: none;
    color: white;
  }
  .container .logo {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
  }
  .container .nav_btn {
    display: none;
  }
  .container ul {
    padding-top: 0;
    position: static;
    height: -webkit-max-content;
    height: max-content;
    width: -webkit-max-content;
    width: max-content;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: transparent;
  }
  .container li {
    margin-right: 50px;
    font-family: "Open Sans", sans-serif;
    padding: 20px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 13px;
  }
  .container li:hover {
    background-color: white;
    color: #006be6;
  }
  .container .signinBtn, .container .profileBtn {
    background-color: #fd5e5e;
    border-radius: 13px;
    transition: 0.5s;
  }
  .container .signinBtn:hover, .container .profileBtn:hover {
    transform: scale(1.1);
  }
  .container .dropdown {
    display: none;
  }
  .container .dropdown ul {
    background-color: white;
    border-radius: 10px;
    position: static;
    display: block;
  }
  .container .dropdown li {
    color: black;
    font-size: 0.7rem;
    margin-top: 10px;
  }
  .container .profileBtn:hover .dropdown, .container .dropdown:hover {
    display: block;
    position: absolute;
    right: 74px;
    padding-top: 10px;
  }
  .container label {
    display: none;
  }
}