.entryFormContainer {
  display: flex;
  margin: auto;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}
.entryFormContainer form {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 337.5px;
  max-height: 525px;
}
.entryFormContainer label {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 2rem;
}
.entryFormContainer #title, .entryFormContainer #content {
  outline: none;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
}
.entryFormContainer #title:focus, .entryFormContainer #content:focus {
  border: 1px solid blue;
}
.entryFormContainer #title {
  height: 8%;
  width: 100%;
  resize: none;
}
.entryFormContainer #content {
  height: 55vh;
  resize: none;
  width: 100%;
}
.entryFormContainer input[type=submit] {
  margin-top: 10px;
  background-color: #fd5e5e;
  border-radius: 13px;
  outline: none;
  border: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  height: 40px;
  width: 60%;
  transition: 0.5s;
}
.entryFormContainer input[type=submit]:hover {
  transform: scale(1.1);
}

@media only screen and (min-width: 400px) {
  form {
    width: 60% !important;
  }
}
@media only screen and (min-width: 700px) {
  form {
    width: 30% !important;
  }
}