.entryContentContainer{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    .entryContent{
        width: 50%;
    }
    .entryContentHeader{
        display: flex;
        justify-content: space-between;
    }
    h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 3rem;
        color: white;
        max-width: 70%;
        overflow: hidden;
    }
    .entryContentDate{
        font-family: 'Open Sans', sans-serif;
        font-size: 0.8rem;
        color: white;
    }
    button{
        background-color: rgb(253, 94, 94);
        border-radius: 13px;
        color: white;
        width: 60px;
        margin-left: 10px;
        height: 100%;
        border: none;
    }
    .content{
        font-family: 'Open Sans', sans-serif;
        color: rgb(0, 107, 230);
        text-indent: 30px;
        text-align: justify;
        margin-bottom: 10px;
    }
    .diaryContentContainer{
        background-color: rgba(255, 255, 255, 0.8);
        padding: 30px;
        margin-top: 10px;
        border-radius: 13px;
    }
}