
.entry{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    padding-bottom: 0;
    border-radius: 13px;
    margin-bottom: 20px;
}
p{
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 107, 230);
}
h1{
    font-family: 'Montserrat', sans-serif;
    color: rgb(64, 139, 224);
}
.date{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: rgb(64, 139, 224);
}
.time{
    margin-top: 10px;
}
.year{
    margin-left: auto;
}
.content{
    margin-top: 5px;
    max-height: 100px;
    overflow: hidden; 
}
