body,html{
    margin: 0;
    padding: 0;
}
.form{
    position: absolute;
    // display: none;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 59, 59, 0.6);
    z-index: 10;
}
// .show{
//     display: inline;
// }
// .showForm{
//     display: flex;
// }
.sign-in_form, .sign-up_form {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    max-height: 562px;
    background-color: white;
    padding: 40px;
    width: 90%;
    max-width: 337px;
    box-shadow: 5px 5px 5px rgb(72, 78, 90);
    .error{
        margin-top: -20px;
        font-size: 0.8em;
        color: red;
    }
    h1{
        font-size: 2rem;
        font-family: 'Montserrat', sans-serif;
        color: rgb(64, 139, 224);
        margin-bottom: 35px;
    }
    label, input{
        font-family: 'Open Sans', sans-serif;
    }
    label{
        position: relative;
        top: -25px;
        margin-top: 5px;
        color: rgb(117, 117, 117);
        transition: 0.5s;
        z-index: -1;
    }
    div{
        width: 100%;
    }
    input[type=text], input[type=password]{
        width: 100%;
        font-size: 1rem;
        padding: 5px;
        padding-bottom: 0;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgb(64, 139, 224);
        outline: 0;
        z-index: 6;
    }
    input[type=submit]{
        background-color: rgb(253, 94, 94);
        border-radius: 13px;
        font-size: 1rem;
        border: none;
        outline: none;
        padding: 10px;
        width: 50%;
        color: white;
        transition: 0.5s;
    }
    input[type=submit]:hover{
        transform: scale(1.2);
    }
    input:focus + label, input:not(:placeholder-shown) + label {
        top : -45px;
    }
    .exit{
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        outline: none;
        font-size: 2rem;
        background-color: transparent;
        color: red;
    }

}
@media only screen and (min-width : 600px){
    .sign-in_form, .sign-up_form{
        width: 400px;
    }
    input[type=submit]{
        width: 30%;
    }
}