nav{
    padding: 0 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 107, 230, 0.5);
    height: 80px;
    z-index: 9;
}
.container{
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding-top: 20px;
    a{
        text-decoration: none;
        color: white;
    }
    .logo{
        font-size: 2rem;
        font-family: 'Montserrat', sans-serif;
    }

    ul{
        background-color: rgb(0, 107, 230);
        position: absolute;
        padding-top: 40px;
        top: 80px;
        width: 100%;
        left: -1000px;
        height: 100vh;
        list-style-type: none;
        transition: 1s left;
        z-index: 9;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .active{
        left: 0;
    }
    li{
        font-family: 'Open Sans', sans-serif;
        margin: 20px;
        padding: 20px;
        color: white;
        cursor: pointer;
        z-index: 7;
    }
    
    i{
        color: white;
        font-size: 2rem;
    }
    .nav_btn{
        z-index: 10;
        display: block;
    }
    .signinBtn, .profileBtn{
        background-color: rgb(253, 94, 94);
        border-radius: 13px;
        width: 50%;
        text-align: center;
    }
    .dropdown{
        display: none;
      }
    .dropdown ul{
        background-color: white;
        border-radius: 10px;
        position: static;
        height: 30%;
    }
    .dropdown li{
        color: black;
        font-size: 0.7rem;
    }

    .profileBtn:hover .dropdown, .dropdown:hover{
        display: block;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        padding-top: 30px;
        width: 50%;
    }
}
@media only screen and (min-width : 850px){
    
    .container{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 50px;
        padding-top: 20px;
        a{
            text-decoration: none;
            color: white;
        }
        .logo{
            font-size: 2rem;
            font-family: 'Montserrat', sans-serif;
        }
        .nav_btn{
            display: none;
        }
    
        ul{
            padding-top: 0;
            position: static;
            height: max-content;
            width: max-content;
            display: flex;
            flex-direction: row;
            list-style-type: none;
            background-color: transparent;
        }
        li{
            margin-right: 50px;
            font-family: 'Open Sans', sans-serif;
            padding: 20px;
            color: white;
            cursor: pointer;
            transition: 0.5s;
            border-radius: 13px;
        }
        li:hover{
            background-color: white;
            color: rgb(0, 107, 230);
            
        }

        .signinBtn, .profileBtn{
            background-color: rgb(253, 94, 94);
            border-radius: 13px;
            transition: .5s
        }
        .signinBtn:hover, .profileBtn:hover{
            transform: scale(1.1);
        }
        .dropdown{
            display: none;
          }
        .dropdown ul{
            background-color: white;
            border-radius: 10px;
            position: static;
            display: block;
        }
        .dropdown li{
            color: black;
            font-size: 0.7rem;
            margin-top: 10px;
        }

        .profileBtn:hover .dropdown, .dropdown:hover{
            display: block;
            position: absolute;
            right: 74px;
            padding-top: 10px;
        }
        label{
            display: none;
        }
        
        
    }
    
}