.entryFormContainer{
    display: flex;
    margin: auto;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    form{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30vw;
    }
    label{
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-size: 2rem;
    }
    #title, #content{
        outline: none;
        font-family: 'Open Sans', sans-serif;
        padding: 10px;
    }
    #title:focus, #content:focus{
       border: 1px solid blue;
    }
    #title{
        height: 5vh;
        width: 100%;
    }
    #content{
        height: 55vh;
        resize: none;
        width: 100%;
    }
    input[type=submit]{
        margin-top: 10px;
        background-color: rgb(253, 94, 94);
        border-radius: 13px;
        outline: none;
        border: none;
        color: white;
        font-family: 'Open Sans', sans-serif;
        height: 40px;
        width: 60%;
        transition: 0.5s;
    }
    input[type=submit]:hover{
        transform: scale(1.1);
    }
}